
:host {
    text-align: center;
    color: #e8e8e4; 
  }
  
  h2 {
    font-size: 2rem;
    color:var(--primary-color);
    margin-bottom: 20px;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
  }

  h3{
    color:var(--primary-color);
    text-align: justify;

  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .elements{
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .selecao_elemento{
    display: block;
  }

  .detalhe_elemento p{
    border: 1px solid white;
    width: 217px;
    height: 118px;
    font-size: 17px;
  }
  
  li {
    padding: 10px 15px;
    border: 1px solid #e8e8e4; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  li:hover {
    border: 1px solid var(--primary-color); 
  }
  
  li:active {
    transform: scale(0.95); 
  }
  
  p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  button {
    background-color: #bfae48; 
    color: #2c3e2f;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d4c36a; 
  }
  
  button:active {
    transform: scale(0.95);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
  