<div>
  <div class="image-container">
    <img src="./../../assets/Banner.png" alt="Descrição da Imagem">
  </div>

  <h2>Tabela periódica interativa</h2>

  <div class="elements">
    <div class="selecao_elemento">
    <h3>Selecione o elemento</h3>
    <ul>
      <li *ngFor="let elemento of elementos()" (click)="selecionarElemento(elemento)">
        {{ elemento.nome }} ({{ elemento.simbolo }})
      </li>
    </ul>
  </div>
  <div class="detalhe_elemento">
    <h3>Detalhes do elemento</h3>
    <p>{{ propriedadesElemento() }}</p>
  </div>

</div>





</div>